body {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

* {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}